@font-face {
  font-family: 'pacificoregular';
  src: url('../font/pacifico-webfont.eot');
  src: url('../font/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pacifico-webfont.woff2') format('woff2'),
    url('../font/pacifico-webfont.woff') format('woff'),
    url('../font/pacifico-webfont.ttf') format('truetype'),
    url('../font/pacifico-webfont.svg#pacificoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue_regular';
  src: url('../font/helveticaneue-regular.eot');
  src: url('../font/helveticaneue-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneue-regular.woff2') format('woff2'),
    url('../font/helveticaneue-regular.woff') format('woff'),
    url('../font/helveticaneue-regular.ttf') format('truetype'),
    url('../font/helveticaneue-regular.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue_medium';
  src: url('../font/helveticaneue-medium.eot');
  src: url('../font/helveticaneue-medium.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneue-medium.woff2') format('woff2'),
    url('../font/helveticaneue-medium.woff') format('woff'),
    url('../font/helveticaneue-medium.ttf') format('truetype'),
    url('../font/helveticaneue-medium.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_wide_bold';
  src: url('../font/novecento-sans-wide-bold.eot');
  src: url('../font/novecento-sans-wide-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/novecento-sans-wide-bold.woff2') format('woff2'),
    url('../font/novecento-sans-wide-bold.woff') format('woff'),
    url('../font/novecento-sans-wide-bold.ttf') format('truetype'),
    url('../font/novecento-sans-wide-bold.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}