.features {
  padding: rem(55) 0;
}

.features__title {
  text-align: center;
}

.features__description {
  margin-bottom: rem(60);
  text-align: center;
}

.features__list {
  display: block;
  margin: 0;
  padding: 0;
}

.features__list__item {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: rem(30);
  padding: 4%;
  text-align: center;
  position: relative;
  
  
  @media #{$media__s} {
    width: 50%;
    margin-bottom: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: $light-gray;
    }

    &:nth-child(1),
    &:nth-child(3) {
      &:before {
        width: 80%;
        height: rem(1);
        bottom: 0;
        left: 10%;
      }

      &:after {
        width: rem(1);
        height: 80%;
        top: 10%;
        right: 0;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      &:before {
        width: 80%;
        height: rem(1);
        bottom: 0;
        left: 10%;
      }
    }

    &:nth-child(5){
      &:after {
        width: rem(1);
        height: 80%;
        top: 10%;
        right: 0;
      }
    }

    &:nth-child(2n+1) {
      clear: both;
    }
  }

  @media #{$media__m} {
    width: 33.333333%;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: $light-gray;
    }

    &:nth-child(1),
    &:nth-child(2) {
      &:before {
        width: 80%;
        height: rem(1);
        bottom: 0;
        left: 10%;
      }

      &:after {
        width: rem(1);
        height: 80%;
        top: 10%;
        right: 0;
      }
    }

    &:nth-child(3) {
      &:before {
        width: 80%;
        height: rem(1);
        bottom: 0;
        left: 10%;
      }

      &:after {
        display: none;
      }
    }

    &:nth-child(4) {
      &:before {
        display: none;
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      &:after {
        width: rem(1);
        height: 80%;
        top: 10%;
        right: 0;
      }
    }

    &:nth-child(2n+1) {
      clear: none;
    }
  }
}

.features__list__item__icon {
  display: block;
  margin: 0 auto rem(15);
}

.features__list__item__title {
  color: $black;
  font-family: $font-subtitle;
  font-size: rem(20);
  margin-bottom: rem(15);

  @media #{$media__m} {
    font-size: rem(24);
  }
}

.features__list__item__description {
  color: $gray;
  font-family: $font-medium;
  font-size: rem(14 );
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  @media #{$media__m} {
    font-size: rem(16);
  }
}