doctype html  
html(lang='pt-BR')  
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', type='image/x-icon', href='#')
    link(rel='stylesheet', href='./styles/main.css')
    title Craze
    meta(name='description', content='Single page of Craze, a great new free theme to showcase your new app.')
    meta(name='author', content='Eric Vasconcelos')
  body
    section#hero.hero
      .container
        .hero__left
          h1.hero__title Craze
          p.hero__description A great new free psd theme to showcase your new app.
          nav.hero__systems
            a.hero__systems__link(href='#')
              img(src='./images/apple-icon.svg')
            a.hero__systems__link(href='#')
              img(src='./images/android-icon.svg')
            a.hero__systems__link(href='#')
              img(src='./images/windows-icon.svg')

        .hero__right
          img.hero__hand(src='./images/hand.png')
    
    section#features.features
      .container
        h2.features__title Craze Features
        p.features__description Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.

        ul.features__list
          li.features__list__item
            img.features__list__item__icon(src='./images/pc-icon.png')
            h3.features__list__item__title Flat Design
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

          li.features__list__item
            img.features__list__item__icon(src='./images/target-icon.png')
            h3.features__list__item__title Marketable
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

          li.features__list__item
            img.features__list__item__icon(src='./images/photo-icon.png')
            h3.features__list__item__title Edit Photos
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

          li.features__list__item
            img.features__list__item__icon(src='./images/paint-board-icon.png')
            h3.features__list__item__title Edit Colors
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

          li.features__list__item
            img.features__list__item__icon(src='./images/user-icon.png')
            h3.features__list__item__title User Friendly
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

          li.features__list__item
            img.features__list__item__icon(src='./images/setting-icon.png')
            h3.features__list__item__title 100% Editable
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
    
    section#about.about
      .container
        .about__left
          h2.about__title Whats Craze all About?
          p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris.
          p.about__description Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.

          ul.about__list
            li.about__list__item
              span.about__list__item__arrow
              p.about__list__item__description Lorem ipsum dolor sit amet
            
            li.about__list__item
              span.about__list__item__arrow
              p.about__list__item__description Lorem ipsum dolor sit amet consectetur elt

        .about__right
          .about__video
            iframe(src='https://player.vimeo.com/video/15069551', width='640', height='360', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

    script(src='./scripts/main.min.js')